.logo{
    width: 100%;
    height: 200px;
    display: block;
   background: transparent;
}
.head
{
    border: 5px solid blue;
}
.master div
{
    margin-top: 20px;
    border: 4px solid rgb(3, 27, 34);
    background-color: rgb(209, 153, 84);
    background-size: auto;
    width: 100%;
    height: 50px;
    
}

li{
    list-style: none;
}

.square{
align-items: center;
    display: inline-block;
}
.a{
    display: inline-flex;
    align-items: flex;
    padding-left: 90px;
    padding-right: 200px;
}
.b{
    display: inline-flex;
    align-items: flex;
    padding-right: 200px;
}
.c{
    display: inline-flex;
    align-items: flex;
    padding-right: 200px;
}
.d{
    display: inline-flex;
    align-items: flex;
    padding-right: 200px;
}
.e{
    display: inline-flex;
    align-items: flex;
    padding-right: 200px;
}

.card1{
border: 4px solid coral;
display: inline-block; 
padding-top: 5px;
padding-left: 10px;
padding-right: 10px;

align-items: center;
margin: 50px 100px 50px 50px;
}
.t1
{display: inline; 
    align-items: center;
}
.t2
{display: inline; 
    align-items: center;
}

    .mastercard2{
        border: 4px solid coral;
        display: inline-block; 
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        
        align-items: center;
        margin: 50px 100px 50px 50px;
        }
    .c1{display: inline-block; 
        align-items: center;
        
        border: 3px solid green
    }
        
    .c2{display: inline-block; 
        align-items: center;
        
        border: 3px solid green
    }
        
    .c3{display: inline-block; 
        align-items: center;
        
        border: 3px solid green
    }
    .c4{display: inline-block; 
        align-items: center;
        border: 3px solid green;
    }
.footer
{
    margin-top: auto;
    text-align: center;
    display: block;
}
    